@inject NavigationManager NavigationManager

<div class="bg-black/60 fixed inset-0 z-50 h-screen w-screen @_hidden">   
<div id="popup-modal" tabindex="-1" class="flex h-full w-full items-center justify-center">
    <div class="relative max-h-full w-full max-w-md p-4">
        <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">           
            <div class="p-4 text-center md:p-5">
                <svg class="mx-auto mb-4 h-12 w-12 text-gray-400 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Altere sua senha!</h3>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    A sua conta de barbeiro(a) foi criada por uma barbearia e se encontra com a situação <span class="text-yellow-500">'suspensa'</span>. Altere sua senha para poder mudar a situação para <span class="text-green-500">'ativa'</span> e poder receber agendamento de cortes!
                </p>
                    <button @onclick="GoTo" data-modal-hide="popup-modal" type="button" class="mt-2 inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800">
                    Alterar senha
                </button>                
            </div>
        </div>
    </div>
</div>
</div>

@code {    
    private string _hidden = string.Empty;    

    private void GoTo()
    {
        _hidden = "hidden";
        StateHasChanged();
        NavigationManager.NavigateTo("/barbeiro/perfil");
    }
}
