@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        @if (context.User.Claims.FirstOrDefault(claim => claim.Type == "unique_name") is Claim nameClaim)
        {
            <p>Hello, @nameClaim.Value</p>
        }
        else
        {
            <p>Email claim not found</p>
        }
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code{
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("/logout");
    }
}
