<header class="bg-[#252525] py-1">
    <div class="container mx-auto flex items-center justify-between px-12">
        <div>
            <img src="barber-boss-logo.png" class="text-center" height="70" width="70" />
        </div>
        <nav>
            <ul class="flex items-center space-x-6">
                <li><a href="#home" class="text-neutral-50 transition-colors hover:text-[#3b82f6]">Home</a></li>
                <li><a href="#servicos" class="text-neutral-50 transition-colors hover:text-[#3b82f6]">Serviços</a></li>
                <li class="d-flex relative w-[9rem] flex-col rounded bg-[#3b82f6]">
                    <button class="w-full cursor-pointer rounded bg-transparent p-2 outline-none" @onclick="SetRegisterOption">
                        Cadastre-se
                    </button>
                    <div class="@(_showRegisterOption ? "" : "hidden") absolute w-[9rem] outline-none">
                        <ul class="d-flex flex-col bg-[#252525] pb-2 pt-4">
                            <li class="mb-2 h-full w-full cursor-pointer p-2 hover:bg-gray-800">
                                <NavLink href="barbearia/cadastro" class="block h-full w-full text-base">Sou barbearia</NavLink>
                            </li>
                            <li class="w-full cursor-pointer p-2 hover:bg-gray-800">
                                <NavLink class="text-base">Sou cliente</NavLink>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="d-flex relative w-[6rem] flex-col rounded bg-transparent">
                    <button class="w-full cursor-pointer rounded bg-transparent p-2 text-start outline-none" @onclick="SetLoginOption">
                        Entrar
                    </button>
                    <div class="@(_showLoginOption ? "" : "hidden") absolute w-[9rem] outline-none">
                        <ul class="d-flex flex-col bg-[#252525] pb-2 pt-4">
                            <li class="mb-2 h-full w-full cursor-pointer p-2 hover:bg-gray-800">
                                <NavLink href="barbearia/entrar" class="block h-full w-full text-base">Sou barbearia</NavLink>
                            </li>
                            <li class="w-full cursor-pointer p-2 hover:bg-gray-800">
                                <NavLink class="text-base">Sou cliente</NavLink>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>

@code {
    private bool _showRegisterOption;
    private bool _showLoginOption;

    private void SetRegisterOption() => _showRegisterOption = !_showRegisterOption;
    private void SetLoginOption() => _showLoginOption = !_showLoginOption;
}