@page "/barbeiros"

<PageTitle>Barbeiros - Barber Boss</PageTitle>

<div class="flex flex-col gap-8 px-3 py-6">
    <div>
        <h2 class="text-5xl">Barbeiros</h2>
    </div>

    <BarbersTable />
</div>

@code {

}
