@page "/barbearia/perfil"

@layout MainLayout

@inject IBarberShopApi BarberShopApi
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Perfil - Barber Boss</PageTitle>

<div class="flex flex-col">
    <div class="border-b-2 border-neutral-900/20 mb-4 flex w-full justify-center py-4">
        <div class="border-2 flex h-24 w-24 items-center justify-center rounded-full border-[#3b82f6]">
            @if (User is not null)
            {
                <span class="text-4xl">@User!.Claims.FirstOrDefault(claim => claim.Type == "unique_name")!.Value.Substring(0, 1)</span>
            }
        </div>
    </div>
    <div class="w-full text-center">
        <h2 class="text-2xl">Perfil da Barbearia</h2>
    </div>

    <div class="mt-4 w-full">
        <form class="flex flex-col gap-8" @onsubmit="Submit">
            <div class="grid-cols-2 grid gap-4">
                <AntiforgeryToken />
                <div class="flex flex-col gap-2">
                    <label>Nome:</label>
                    <input type="text" @bind-value="_barberShop.Name" class="h-12 rounded border border-neutral-900 px-1 text-lg text-[#1a1a1a]" />
                </div>

                <div class="flex flex-col gap-2">
                    <label>E-mail:</label>
                    <input type="email" @bind-value="_barberShop.Email" class="h-12 rounded border border-neutral-900 px-1 text-lg text-[#1a1a1a]" />
                </div>

                <div class="flex flex-col gap-2">
                    <label>Telefone:</label>
                    <input type="text" @bind-value="_barberShop.Phone" class="h-12 rounded border border-neutral-900 px-1 text-lg text-[#1a1a1a]" />
                </div>

                <div class="flex flex-col gap-2">
                    <label>Contato de Telefone:</label>
                    <input type="text" @bind-value="_barberShop.PhoneContact" class="h-12 rounded border border-neutral-900 px-1 text-lg text-[#1a1a1a]" />
                </div>

                <div class="flex flex-col gap-2">
                    <label>Senha:</label>
                    <input type="password" @bind-value="_barberShop.Password" class="h-12 rounded border border-neutral-900 px-1 text-lg text-[#1a1a1a]" />
                </div>

                <div class="flex flex-col gap-2">
                    <label>Confirmação de Senha:</label>
                    <input type="password" @bind-value="_confirmPassword" class="h-12 rounded border border-neutral-900 px-1 text-lg text-[#1a1a1a]" />
                </div>
            </div>
            <div class="flex w-full justify-end">
                <button class="flex w-1/4 min-w-[200px] items-center justify-center rounded bg-[#3b82f6] p-3 hover:bg-[#2563eb]" disabled="@_isLoading">
                    @if (_isLoading)
                    {                        
                        <Spinner />
                        <span class="text-neutral-500">Salvar</span>
                    }
                    else
                    {
                        <span class="text-neutral-50">Salvar</span>
                    }
                </button>
            </div>
        </form>
    </div>

    @if(_success)
    {
        <SuccessToast Message="Perfil atualizado com sucesso"/>        
    }
</div>

@code {
    private ResponseBarberShopJson _barberShop = new();
    private string _confirmPassword = string.Empty;
    private bool _isLoading;
    private bool _success;

    [CascadingParameter]
    public ClaimsPrincipal? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetBarberShopProfile();
    }

    private async Task GetBarberShopProfile()
    {
        try
        {
            var result = await BarberShopApi.GetProfile();

            if (result.IsSuccessStatusCode)
            {
                _barberShop = result.Content;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error => {ex.Message}");
        }
    }

    private async Task Submit()
    {
        _isLoading = true;

        try
        {
            var result = await BarberShopApi.UpdateProfile(new RequestBarberShopJson
            {
                Name = _barberShop.Name,
                Email = _barberShop.Email,
                Phone = _barberShop.Phone,
                PhoneContact = _barberShop.PhoneContact,
                Password = !string.IsNullOrWhiteSpace(_barberShop.Password) ? _barberShop.Password : string.Empty, 
            });            

            if (result.IsSuccessStatusCode)
            {
                _success = true;                
                _isLoading = false;
                StateHasChanged();
                await Task.Delay(TimeSpan.FromSeconds(2));                         
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {
            _isLoading = false;
            _success = false;
            StateHasChanged();
        }
    }
}
